@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.form-loader,
.form-loader:before,
.form-loader:after {
  background: #f5f5f5;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.form-loader {
  color: #f5f5f5;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.form-loader:before,
.form-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.form-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.form-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.ms-layout .header-container-wrapper {
  display: none;
}
.ms-survey-from {
  padding: 60px 20px;
}
.ms-survey-from .input input,
.ms-survey-from select,
.ms-survey-from textarea {
  max-width: 100%;
}
.ms-survey-from h1,
.ms-survey-from h2,
.ms-survey-from h3,
.ms-survey-from h4,
.ms-survey-from h5,
.ms-survey-from h6 {
  color: #303133;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 20px;
  line-height: 1.5em;
  word-break: break-word;
}
.ms-survey-from .hs-form-field {
  margin-bottom: 20px;
}
.ms-survey-from h1 {
  font-size: 35px;
  line-height: 1.2;
  margin: 27px 0 0;
  font-weight: 500;
  text-transform: uppercase;
}
.ms-survey-from h2 {
  font-size: 35px;
}
.ms-survey-from h3 {
  font-size: 29px;
  line-height: 1.5em;
  font-weight: 300;
}
.ms-survey-from h4 {
  line-height: 1.2;
  margin: 27px 0 0;
  font-size: 20px;
  font-weight: normal;
}
.ms-survey-from h5 {
  font-size: 16px;
}
.ms-survey-from h6 {
  font-size: 14px;
}

/*Form Default Style*/
.ms-survey-from .hs-form-field > label {
  display: block;
  font-weight: 600;
}

.ms-survey-from input[type='text'],
.ms-survey-from input[type='password'],
.ms-survey-from input[type='datetime'],
.ms-survey-from input[type='datetime-local'],
.ms-survey-from input[type='date'],
.ms-survey-from input[type='month'],
.ms-survey-from input[type='time'],
.ms-survey-from input[type='week'],
.ms-survey-from input[type='number'],
.ms-survey-from input[type='email'],
.ms-survey-from input[type='url'],
.ms-survey-from input[type='search'],
.ms-survey-from input[type='tel'],
.ms-survey-from input[type='color'],
.ms-survey-from input[type='file'],
.ms-survey-from textarea,
.ms-survey-from select {
  display: block;
  font-size: 14px;
  line-height: initial;
  font-family: inherit;
  margin: 9px 0px 0px 0px;
  padding: 10px 15px 10px 15px;
  border-style: solid;
  border-radius: 2px;
  font-weight: normal;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
  -webkit-transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border: 1px solid #eaeaea;
  width: 100%;
  max-width: 767px;
}

.ms-survey-from .hs-button.primary,
.ms-survey-from input[type='submit'],
.ms-survey-from input[type='button'] {
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: color 200ms ease-in-out,
    background-color 200ms ease-in-out, border-color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out;
  font-size: 12px;
  padding: 13px 31px 13px 31px;
  text-align: center !important;
  vertical-align: middle;
  background-image: none;
  border-radius: 2px;
  outline: none;
  white-space: nowrap;
  -webkit-text-stroke: 0px;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  border: 1px solid;
  color: #ffffff;
  background-color: #006cff;
  border-color: #006cff;
  margin-top: 20px;
  cursor: pointer;
}

.ms-survey-from .hs-button.primary:hover,
.ms-survey-from input[type='submit']:hover,
.ms-survey-from input[type='button']:hover {
  color: #006cff;
  background-color: transparent;
  border-color: #006cff;
}
.ms-form-section {
  background: #fff;
  padding: 40px;
  border-radius: 5px;
}
.ms-form-section .hubspot-link__container.sproket {
  display: none;
}
.ms-form-steps {
  padding: 20px 0;
  display: table;
  width: 100%;
}

.from-step {
  width: 60px;
  height: 60px;
  background: #55c2ff;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  font-weight: bold;
  z-index: 1;
}

.from-step-outer {
  display: table-cell;
  text-align: center;
  position: relative;
}
.form-step-content {
  display: none;
}

.form-step-content.step1 {
  display: block;
}

.ms-form-section .prev-btn {
  margin-right: 20px;
}
.form-step-content.step1 .prev-btn {
  display: none;
}
.ms-form-section .hs_error_rollup {
  padding: 0;
  list-style: none;
}

.ms-form-section ul.hs-error-msgs.inputs-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.ms-form-section ul.hs-error-msgs.inputs-list label,
.ms-form-section .inavalid-error {
  padding: 10px;
  background: #e89f9f;
  display: inline-block;
  color: #fff;
  border: 1px solid #e61212;
}

.ms-form-section .hs_error_rollup ul.hs-error-msgs.inputs-list label {
  display: block;
}
.ms-survey-from .invalid.error {
  border: 1px solid red;
}

.from-step:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5bda5b;
  left: 0;
  border-radius: 50%;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  font-size: inherit;
  opacity: 0;
  transition: all 0.3s ease;
}

.completed .from-step:before {
  opacity: 1;
}
.ms-form-section .form-title {
  display: none;
}

.ms-form-section .submitted-message {
  text-align: center;
}

.form-step-content input[type='submit'] {
  width: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  opacity: 0;
  height: 0;
  border: none !important;
}

.from-step-outer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  top: 50%;
  left: 0;
}
.ms-form-steps .from-step-outer.step1:before {
  width: 50%;
  left: 50%;
}

.ms-form-steps .from-step-outer:last-child:before {
  width: 50%;
}

.from-step-outer:after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #5bda5b;
  top: 50%;
  left: 0;
  transition: all 0.3s ease;
}

.from-step-outer.complted:after {
}
.from-step-outer.step1:after {
  left: 50%;
}
.from-step-outer.completed:after {
  width: 100%;
}
.from-step-outer.active:after {
  width: 50%;
  transition-delay: 0s;
}
.from-step-outer.active.completed:after {
  width: 100%;
}

.from-step-outer.step1.active:after {
  width: 0;
}

.from-step-outer.step1.completed:after {
  width: 50%;
}

.from-step-outer:last-child:after {
  max-width: 50%;
}
.ms-form-steps span.hs-form-required {
  color: red;
  margin: 0 4px;
}

@media (max-width: 767px) {
  .from-step {
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 16px;
  }
  .ms-form-section {
    padding: 10px;
  }

  .ms-survey-from h1 {
    font-size: 28px;
    line-height: 1.2;
    margin: 10px 0 0;
    font-weight: 500;
    text-transform: uppercase;
  }

  .ms-survey-from .hs-button.primary,
  .ms-survey-from input[type='submit'],
  .ms-survey-from input[type='button'] {
    padding: 13px 21px 13px 21px;
  }
}

@media (max-width: 479px) {
  .ms-survey-from h1 {
    font-size: 24px;
    line-height: 1.2;
    margin: 10px 0 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  .from-step {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 12px;
  }
}

#formCompanyOnline.ms-survey-from .hs-button.primary,
#formCompanyOnline.ms-survey-from input[type='submit'],
#formCompanyOnline.ms-survey-from input[type='button'] {
  border: 1px solid rgba(200, 34, 27, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(200, 34, 27, 1);
}

#formCompanyOnline.ms-survey-from .hs-button.primary:hover,
#formCompanyOnline.ms-survey-from input[type='submit']:hover,
#formCompanyOnline.ms-survey-from input[type='button']:hover {
  color: rgba(200, 34, 27, 1);
  border-color: rgba(200, 34, 27, 1);
  background-color: transparent;
}

#formCompanyOnline .from-step {
  background: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
}

#formCompanyOnline .from-step:before {
  background: rgba(200, 34, 27, 1);
}
#formCompanyOnline .from-step-outer:before {
  background: rgba(255, 255, 255, 1);
}

#formCompanyOnline .from-step-outer.active .from-step {
  background: rgba(200, 34, 27, 1);
}

#formIndividualOnline.ms-survey-from .hs-button.primary,
#formIndividualOnline.ms-survey-from input[type='submit'],
#formIndividualOnline.ms-survey-from input[type='button'] {
  border: 1px solid rgba(200, 34, 27, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(200, 34, 27, 1);
}

#formIndividualOnline.ms-survey-from .hs-button.primary:hover,
#formIndividualOnline.ms-survey-from input[type='submit']:hover,
#formIndividualOnline.ms-survey-from input[type='button']:hover {
  color: rgba(200, 34, 27, 1);
  border-color: rgba(200, 34, 27, 1);
  background-color: transparent;
}

#formIndividualOnline .from-step {
  background: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
}

#formIndividualOnline .from-step:before {
  background: rgba(200, 34, 27, 1);
}

#formIndividualOnline .from-step-outer:before {
  background: rgba(255, 255, 255, 1);
}

#formIndividualOnline .from-step-outer.active .from-step {
  background: rgba(200, 34, 27, 1);
}
#formIndividualOnline.ms-survey-from .hs-button.primary,
#formIndividualOnline.ms-survey-from input[type='submit'],
#formIndividualOnline.ms-survey-from input[type='button'] {
  border: 1px solid rgba(200, 34, 27, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(200, 34, 27, 1);
}

#formIndividualOnline.ms-survey-from .hs-button.primary:hover,
#formIndividualOnline.ms-survey-from input[type='submit']:hover,
#formIndividualOnline.ms-survey-from input[type='button']:hover {
  color: rgba(200, 34, 27, 1);
  border-color: rgba(200, 34, 27, 1);
  background-color: transparent;
}

#formIndividualOnline .from-step {
  background: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
}

#formIndividualOnline .from-step:before {
  background: rgba(200, 34, 27, 1);
}

#formIndividualOnline .from-step-outer:before {
  background: rgba(255, 255, 255, 1);
}

#formIndividualOnline .from-step-outer.active .from-step {
  background: rgba(200, 34, 27, 1);
}

#formCompanyPhone.ms-survey-from .hs-button.primary,
#formCompanyPhone.ms-survey-from input[type='submit'],
#formCompanyPhone.ms-survey-from input[type='button'] {
  border: 1px solid rgba(200, 34, 27, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(200, 34, 27, 1);
}

#formCompanyPhone.ms-survey-from .hs-button.primary:hover,
#formCompanyPhone.ms-survey-from input[type='submit']:hover,
#formCompanyPhone.ms-survey-from input[type='button']:hover {
  color: rgba(200, 34, 27, 1);
  border-color: rgba(200, 34, 27, 1);
  background-color: transparent;
}

#formCompanyPhone .from-step {
  background: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
}

#formCompanyPhone .from-step:before {
  background: rgba(200, 34, 27, 1);
}

#formCompanyPhone .from-step-outer:before {
  background: rgba(255, 255, 255, 1);
}

#formCompanyPhone .from-step-outer.active .from-step {
  background: rgba(200, 34, 27, 1);
}
